# Allow user access to /dev/uhid for linux-hello FIDO2 virtual device
KERNEL=="uhid", SUBSYSTEM=="misc", MODE="0660", GROUP="input", TAG+="uaccess"

# Allow user access to the virtual FIDO2 HID device
SUBSYSTEM=="hidraw", ATTRS{idVendor}=="1209", ATTRS{idProduct}=="0001", MODE="0660", GROUP="input", TAG+="uaccess"
